* {
	margin: 0;
	padding: 0;
}


@import "blocks/header.scss";
@import "blocks/header-nav.scss";
@import "blocks/welcome.scss";
@import "blocks/our-leaders.scss";
@import "blocks/statistics.scss";
@import "blocks/contacts.scss";
@import "blocks/about.scss";
@import "blocks/gallery.scss";
@import "blocks/footer-nav.scss";
@import "blocks/copyright.scss";

.hide {
	display: none;
}

.error-window {
	/*height: 150px;*/
	width: 50%;
	background-color: white;
	text-align: center;
	padding: 10px 20px;
	position: relative;
	border-radius: 8px;
	margin: 50px 25% 0 25%;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}


.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}

.red {
	border: 1px solid red;
}

.error-window__title {
	margin-top: 10px;
	font-size: 25px;
	margin-bottom: 30px;
	color: red;
}

.error-window__text {
	font-size: 18px;
	color: red;
}


































































