.contacts {
  background-color: #336078; }

.contacts__title {
  text-align: center;
  font-size: 48px;
  font-family: "Athelas";
  color: white;
  text-transform: uppercase;
  padding-top: 309px; }

.contacts__text {
  font-size: 20px;
  font-family: "QuattrocentoSans";
  color: silver;
  text-align: center;
  padding-top: 66px; }

.contacts__form {
  /*padding-top: 126px;*/
  width: 54.1%;
  margin: 126px 22.95% 0 22.95%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 175px; }

.form__name {
  width: 48%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #8e8e8e; }

.form__name::-webkit-input-placeholder {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #8e8e8e; }

.form__name::-moz-placeholder {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #8e8e8e; }

.form__name:-ms-input-placeholder {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #8e8e8e; }

.form__name::-ms-input-placeholder {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #8e8e8e; }

.form__name::placeholder {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #8e8e8e; }

.form__category {
  width: 48%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #8e8e8e;
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #8e8e8e;
  -webkit-appearance: none;
  -moz-appearance: radio-container;
  appearance: none; }

.form__phone {
  margin-top: 45px;
  width: 48%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #8e8e8e; }

.form__phone::-webkit-input-placeholder {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #8e8e8e; }

.form__phone::-moz-placeholder {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #8e8e8e; }

.form__phone:-ms-input-placeholder {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #8e8e8e; }

.form__phone::-ms-input-placeholder {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #8e8e8e; }

.form__phone::placeholder {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #8e8e8e; }

.form__city {
  margin-top: 45px;
  width: 48%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #8e8e8e;
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #8e8e8e;
  -webkit-appearance: none;
  -moz-appearance: radio-container;
  appearance: none; }

.form__email {
  margin-top: 45px;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #8e8e8e; }

.form__email::-webkit-input-placeholder {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #8e8e8e; }

.form__email::-moz-placeholder {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #8e8e8e; }

.form__email:-ms-input-placeholder {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #8e8e8e; }

.form__email::-ms-input-placeholder {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #8e8e8e; }

.form__email::placeholder {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #8e8e8e; }

.form__message {
  margin-top: 45px;
  width: 100%;
  height: 186px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #8e8e8e;
  resize: none;
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #8e8e8e; }

.form__btn {
  text-decoration: none;
  margin-top: 73px;
  font-size: 24px;
  font-family: "Myriad Pro";
  color: white;
  background-color: #89553b;
  border: none;
  padding: 26px 66px;
  margin-left: 66%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  .form__btn:hover {
    background-color: #000;
    color: #fff; }
  .form__btn:focus {
    background-color: #000;
    color: #fff; }

@media (max-width: 420px) {
  .contacts {
    background-color: #336078; }
  .contacts__title {
    padding-top: 100px; }
  .form__btn {
    margin-left: 1px; } }
